{% extends "mail/base.html" %}

{% block title  %} contact- {% endblock title  %} 


{% block content %}
<div class="contact-content">
    <h1>Contact</h1>
    <h3>hi i am hazem  django developer   graduite from computer science  </h3>
    <div class="social_media">
        <a href="tel:01061961692" > <i class="fa-solid fa-phone"></i> </a>
        <a href="https://www.facebook.com/zoom.morsy"><i class="fa-brands fa-facebook"></i> </a>
        <a href="https://www.linkedin.com/in/hazem-hamdy-02b7471ab/"><i class="fa-brands fa-linkedin"></i></a>
    </div>
</div>

{% endblock content %}